
<div class="ui form">
<%= form_for @sport, class: "ui form" do |f| %>
  <label>Name:</label>
  <div class="ui left icon input"></div><i class="lightning bolt icon"></i>
    <%= f.text_field :name %>
  <br><br>
  <button class="ui blue basic button">
  Submit
  </button>
<% end %>
</div>
