<center><h1>Players</h1></center>

<div class="ui middle aligned animated list">
  <% @users.each do |u| %>
    <div class ="item">
      <div class="content">
        <div class="header">
          <%= link_to u.name, u %>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  <% end %>
</div>
