<div class="field_image">

  <div class="ui raised very padded text container segment scrolling content" id="splash-box">
    <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Players
  </h2>
    <div class="ui middle aligned animated list">
      <% @users.each do |u| %>
        <div class ="item">
          <div class="content">
            <div class="header">
              <%= link_to u.name, u %><br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
