<div class="field_image">
  <div class="ui raised very padded text container segment" id="splash-box">
    <h1>Welcome to Pickup</h1>
    If you already have an account <%= link_to "login", login_path %>.<br>
    Otherwise, please <%= link_to "create an account", signup_path %>.
  </div>
</div>
