<center><h1>All Events</h1>
<% @events.each do |e| %>
<label>Event Name:</label>
<%= link_to e.title, event_path(e) %><br><br><br>
<% end %>
<br><br><br>

  <button class="ui blue basic button">
    <%= link_to "New Event", new_event_path %>
  </button>
</center>
