/* id selector */
/* has a "#" before the name of the id */
#splash-box {
  top: 200px;
  background-color: red;
  text-align: center;
}
 /* class selector */
/* has a "." before the name of the class */
.splash-image {
  background-image: url("https://cms-assets.tutsplus.com/uploads/users/1604/posts/28720/final_image/Pizza-Pattern-Final-Result.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
